body {
    margin: 0;
    padding: 0;
    background: #0268c8;
    width: 100%;
    height: 100%;
}

.container {
    margin: 60px auto; 
    min-height: 200px; 
    width: calc(100% - 200px); 
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (min-width: 768px) {
  .container {
      margin: 60px auto;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    border-radius: 0; 
    min-height: 100%; 
    margin: 0;
    padding: 0;
  }
}

.water-drop {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(217, 224, 230, 0.5);
    border-radius: 50%;
    animation: drop 3s ease-out infinite, ripple 3s ease-out infinite;
    box-shadow: 0px 5px 10px rgba(0, 116, 204, 0.8), 0px 0px 20px rgba(0, 116, 204, 0.6);
    z-index: -1;
}

@keyframes drop {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.5);
    }
}

/* Navbar styles */
li{
  list-style: none;
}

a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-container{
  max-width: 1224px;
  width: 92%;
  margin: 0 auto;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding{
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  padding: 0px 8px;
  border-radius: 8px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link{
  transition: 0.3s ease-out;
  color: white;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgb(0, 0, 0);
}

.bar:nth-child(2){
  width: 21px;
  margin-right: 0px;
}

.bar:nth-child(3){
  width: 14px;
  margin-right: 0px;
}

@media(max-width:1024px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    width: 28px;
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}